extends Layout/main

block content
    div.pading-20
    div.row(style="margin-top: 90px;")
        div.col-md-6.col-md-offset-3
            div
                span.pull-left(style="font-size: xx-large;") Logged in as:
                img.pull-left.img-responsive.img-circle(src=githubUser.avatar_url, height=40, width=40, style="margin-left: 30px")
                span.pull-left(style="margin-left: 10px; font-size: xx-large;") #{githubUser.login}
    div.row(style="margin-top: 20px")
        div.col-md-4.col-md-offset-4
            form.form-horizontal(action='/mythx/login', method='post')
                fieldset
                    div
                        legend Obtain MythX tokens
                    div.control-group
                        label.control-label(for='address') Ethereum address
                        div.controls
                            input.form-control(type='text', id='address', name='address', placeholder='0x12323423...')
                    div.control-group
                        label.control-label(for='password') MythX password
                        div.controls
                            input.form-control(type='password', id='password', name='password', placeholder='supersecret')
                    div.control-group
                        div.controls(style='margin-top: 10px;')
                            button.btn.btn-lg.btn-block.btn-success Obtain

    div.row(style="margin-top: 20px")
        div.col-md-4.col-md-offset-4
            div.control-group
                label.control-label(for='access-token') Access token
                div.controls
                    input.form-control(type='text', disabled=true, id='access-token', name='access-token', value=mythxUser.accessToken)
            div.control-group
                label.control-label(for='refresh-token') Refresh token
                div.controls
                    input.form-control(type='text', disabled=true, id='refresh-token', name='refresh-token', value=mythxUser.refreshToken)
