extends Layout/main

block content
    div.row(style="margin-top: 90px;")
        h1 MythX Security Report

    each report in analysis
        div.row
            if !report.success
                p.bg-danger #{report.message}
            else
                h3 #{report.contractFilePath} Issues
                div.row
                    table.table.table-bordered
                        tr
                            th swcID
                            th swcTitle
                            th Severity
                            th Location
                            th Description
                        each issue in report.issues
                            tr(class=severity.getSeverityClass(issue.severity))
                                td #{issue.swcID}
                                td #{issue.swcTitle}
                                td #{issue.severity}
                                td #{issue.location}
                                td #{issue.description}
